# Firebase Configuration
# Get these values from your Firebase Console
VITE_FIREBASE_API_KEY=AIzaSyAydOMJSS-bGH9LJ82NbDkN8BzIEyTlF4Q
VITE_FIREBASE_AUTH_DOMAIN=music-player-c4be1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=music-player-c4be1
VITE_FIREBASE_STORAGE_BUCKET=music-player-c4be1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=928688843298
VITE_FIREBASE_APP_ID=1:928688843298:web:a3353e06aefaff06e4f87b

# API Configuration
VITE_API_URL=http://localhost:3001
